<table>
  <thead>
    <th>Lista de Usuários</th>
  </thead>
  <tbody>
    <tr>
      <td>Avatar</td>
      <td>Id</td>
      <td>Login</td>
      <td>html</td>
      <td>Tipo de Usuário</td>
    </tr>

    <tr *ngFor="let user of usuarios; trackBy: trackById">
      <app-row-table>
        <td avatar>
          <img [src]="user.avatar_url" width="80px" height="80px" />
        </td>
        <td id>
          {{ user.id }}
        </td>
        <td login>
          <input type="string" [(ngModel)]="user.login" />
        </td>
        <td html_url>
          <input type="string" [(ngModel)]="user.html_url" />
        </td>
        <td type>
          <input type="string" [(ngModel)]="user.type" />
        </td>
      </app-row-table>
      <td>
        <button mat-button (click)="clickEditar(user)">Editar</button>
      </td>
      <td>
        <button mat-button (click)="clickDelete(user.id)">Deletar</button>
      </td>
    </tr>
  </tbody>
</table>
