<!-- <app-row-table [usuarios]="usuarios"> 
       
</app-row-table>  -->

<app-row-table [data]="usuarios"></app-row-table>

<!-- <table>
  <thead>
    <th>Lista de Usuários</th>
  </thead>
  <tbody>
    <tr>
      <td>Avatar</td>
      <td>Id</td>
      <td>Login</td>
      <td>html</td>
      <td>Tipo de Usuário</td>
    </tr>

     <tr *ngFor="let user of usuarios; trackBy: trackById"> -->

<!-- <td>
        <button mat-button (click)="clickEditar(user)">Editar</button>
      </td>
      <td>
        <button mat-button (click)="clickDelete(user.id)">Deletar</button>
      </td> -->
<!-- </tr> 
  </tbody>
</table> 
-->
