<table>
  <thead>
    <th>Atualizar Usuário</th>
  </thead>
  <tbody>
    <tr>
      <td>Avatar</td>
      <td>Id</td>
      <td>Login</td>
      <td>html</td>
      <td>Tipo de Usuário</td>
    </tr>
    <tr *ngFor="let user of users; trackBy: trackById">
      <td>
        <img [src]="user.avatar_url" width="80px" height="80px" />
      </td>
      <td>
        {{ user.id }}
      </td>
      <td>
        <input type="string" [(ngModel)]="user.login" />
      </td>
      <td>
        <input type="string" [(ngModel)]="user.html_url" />
      </td>
      <td>
        <input type="string" [(ngModel)]="user.type" />
      </td>
      <td>
        <button mat-button (click)="Click(user)">Editar</button>
      </td>
    </tr>
  </tbody>
</table>
