<table>
    <thead>
        <th>
            index
        </th>
    </thead>
    <tbody>
        <tr> 
            <td>
                ID
            </td>
            <td>
                Nome
            </td>
            <td>
                Descrição
            </td>
        </tr>
        <tr *ngFor="let user of users;trackBy: trackById"> 
            <td>
                <input  type="string"  [(ngModel)]="user.id">
            </td>
            <td>
                <input  type="string"  [(ngModel)]="user.nome">
            </td>
            <td>
                <input  type="string"  [(ngModel)]="user.descricao">
            </td>
            <td>
                <button mat-button  (click)="Click(user)">Editar </button>
            </td>
        </tr>
    </tbody>
</table>


